<table>
    <tbody>
        <tr>
            <td>Serving size</td>
            <td>1 game</td>
        </tr>
        <tr>
            <td>Amount Per Serving</td>
            <td></td>
        </tr>
        <tr>
            <td>Writing</td>
            <td>6g</td>
        </tr>
        <tr>
            <td>Pixel Art</td>
            <td>3g</td>
        </tr>
        <tr>
            <td>Blissful Tunes</td>
            <td>2g</td>
        </tr>
        <tr>
            <td>Gay Awakenings</td>
            <td>6g</td>
        </tr>
        <tr>
            <td>Eldritch Horror</td>
            <td>$@??d/?D>$!?</td>
        </tr>
        <tr>
            <td>
                Not a significant source of saturated violence, addictive mechanics, or heated gamer moments.
            </td>
        </tr>
    </tbody>
</table>