// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
h1,
h2,
.site-title {
    font-family: 'Do Hyeon', sans-serif;
    color: $accent-color;
    margin-bottom: 2px;
}

img {
    border-radius: 3px;
}

body {
    background-image: url('../../images/signal_creek_poster.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: $body-color;
    background-position-x: center;
    font-size: large;
}

hr {
    margin: 1rem;
}

table {
    border-collapse: collapse;
    border: 3px solid $accent-color;
    width: fit-content;
}

table th,
table td {
    line-height: 1.2rem;
    border: 0;
}

table tr:nth-child(even) {
    background-color: $body-color;
}

a,
a:visited,
.page-link,
.page-link:visited,
.site-title,
.site-title:visited {
    color: $accent-color;
}

.menu-icon,
.menu-icon>path {
    color: $accent-color;
}

.site-header {
    border-top: 5px solid $accent-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: $body-color;
}

.site-footer {
    background-color: $body-color;
}

.button,
.button:link,
.button:visited {
    font-size: 1.3rem;
    width: max-content;
    margin: .75rem .5rem .75rem 0;
    padding: .3rem .75rem .3rem .75rem;
    border-radius: 4px;
    background-color: $accent-color;
    color: $body-color;
    text-decoration: none;
}

.button:hover,
.button:active {
    background-color: $accent-color-light;
}

@media screen and (min-width: 1118px) {
    body {
        background-size: 100% auto;
    }
}

.landing {
    background-color: $body-color;
    border-radius: 3px;
    padding: $spacing-unit;
    // font-size: larger;
    margin: auto;
}

// .landing>p {
//     display: flex;
//     justify-content: center;
// }
.team-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing-unit;
}

.team-box>div>p,
.nutrition>p {
    margin: 0;
}

.team-box>div>p>img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: $spacing-unit * 0.45;
}

@media screen and (min-width: 1118px) {
    body {
        background-size: 100% auto;
    }
}

@media screen and (min-width: $on-medium) {
    .team-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}