// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: 'Source Sans Pro',
sans-serif;
$accent-color: #c8b8cd;
$accent-color-light: lighten($lm-brand-color, 40%);
$body-color: #13141f;