<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <div class="game-page-cover">
                <img src="{{ page.cover }}" alt="{{ page.title }}">
                <div>
                    <h3>{{ page.tagline }}</h3>
                </div>
<!--                 <div class="download-links">
                    <img href="{{ page.itchlink }}" src="/images/icons/itch_badge.svg">
                </div> -->
            </div>{{ content }}{% include image-gallery.html folder=page.directory %}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
